<div class="review smallBreak2 loading tiny rock-tile" style="min-height:30px">
	<div class="rock-heading heading tile-title">
		<span class="handle">Current @(Html.Organization().NotNull(x => x.Settings.NotNull(y => y.RockName)) ?? "Rocks")</span>

		<span class="tile-buttons">
			<a href="javascript:void(0)" onclick="goToUserDetails()" class="tile-button tile-button-view-all" title="View All"><span class="glyphicon glyphicon-th-large"></span></a>
			<a href="javascript:void(0)" class="tile-button tile-button-add-new rockModal populate-rock-create-user-id" data-method="Create" data-userId="false" data-recurrence="@Model" data-post="edit" title="Create New"><span class="glyphicon glyphicon-plus-sign"></span></a>
		</span>
	</div><div class="tile">
	@{ Html.RenderPartial("~/Views/Rocks/Partial/list.cshtml", new ViewDataDictionary(){
								   {"AddHeaders", false},
								   {"AddController", false},
								   {"AddCompletion", false},
								   {"AddDatePicker", false},
								   {"UsePopup", true},
								   {"RecurrenceId", -1},
								   {"RockName", Html.Organization().NotNull(x => x.Settings.NotNull(y => y.RockName.NotNull(z => z.ToLower())))}
							   }); }<div ng-show="(model.Rocks)===undefined" class="gray alignCenter" style="padding:16px;" elem-ready="functions.reload((model.Rocks)===undefined)">Please wait</div>
</div></div>

<script>

	$(function () {
		$(".populate-rock-create-user-id").attr("data-userId", UserId);
	})

</script>

@*<style>
	.width_1 .rock-tile .name {
		font-size: 11px;
		padding: 2px 3px;
	}

	.width_1 .rock-tile .AtRisk {
		color: #a94442;
		background-color: #f2dede;
	}

	.width_1 .rock-tile .OnTrack {
		color: #31708f;
		background-color: #d9edf7;
	}

	.width_1 .rock-tile .Complete {
		color: #3c763d;
		background-color: #dff0d8;
	}

	.rock-tile .rock-list-container {
		padding: 0px;
	}
</style>*@