@model string

<div class="review smallBreak2 loading tiny notes-tile" style="min-height:30px">
    <div class="notes-heading heading">
		<span class="handle">Personal Notes</span>
    </div><div class="tile">
        <iframe class="keep-background" src="@Model" style="background-color: white" width="100%"></iframe>
    </div>
</div>
