files:
    "C:\\Users\\Public\\Downloads\\NewRelicDotNetAgent_x64.msi":
        source: "http://download.newrelic.com/dot_net_agent/latest_release/NewRelicDotNetAgent_x64.msi"
    "C:\\Users\\Public\\Downloads\\NewRelicInfrastructureAgent.msi":
        source: "https://download.newrelic.com/infrastructure_agent/windows/newrelic-infra.msi"
commands:
    install_newrelic_infrastructure_agent:
        command: msiexec.exe /qn /i "C:\\Users\\Public\\Downloads\\NewRelicInfrastructureAgent.msi"
container_commands:
    01_set-newrelic-infra-license-key:
        cwd: "C:\\Program Files\\New Relic\\newrelic-infra"
        command: "echo license_key: %NewRelic_license_key% > newrelic-infra.yml"
    02_stop-newrelic-infra:
        command: net stop newrelic-infra
        ignoreErrors: true
    03_start-newrelic-infra:
        command: net start newrelic-infra
        ignoreErrors: true
    04_install_newrelic_agent:
        command: msiexec.exe /i "C:\\Users\\Public\\Downloads\\NewRelicDotNetAgent_x64.msi" /qb NR_LICENSE_KEY=%NewRelic_license_key%