
<div class="tt-levelten debug-page">

    <table style="width: 100%;">
        <thead class="section-header">
            <tr class="allow-break">
                <td style="width: 100%; ">
                    @RenderSection("head", required: true)
                </td>
            </tr>
        </thead>
        <tr class="allow-break">
            <td>
                @RenderBody()
            </td>
        </tr>
    </table>

</div> 