@model string

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Quarterly Report</title>
    @*<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">*@
    @{Html.RenderPartial("~/Views/Quarterly/PdfHtml_Styles.cshtml"); }
    <style>
        body {
            /*font-family: 'Rubik', sans-serif;*/
            font-family: 'Open Sans', sans-serif;
            font-weight: normal;
            font-style: normal;
        }
    </style>
</head>
<body>
    <div class="tt-container" style="padding: 20px 50px;">
        @Html.Raw(Model)
    </div>
</body>
</html> 