<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Transform="Insert" key="RedisSignalR_DevServer" value="REPLACE_ME" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="SignalrEndpointPattern" value="/signalr"/>

    <add xdt:Transform="Insert" key="DocumentRepo_Bucket" value="REPLACE_ME"/>
    <add xdt:Transform="Insert" key="DocumentRepo_Path" value="DocumentRepo"/>

    <add xdt:Transform="Insert" key="NewRelic_license_key" value="REPLACE_ME"/>
    <add xdt:Transform="Insert" key="NewRelic.AppName" value="REPLACE_ME"/>

  </appSettings>
</configuration>