<?xml version="1.0" encoding="UTF-8"?>
<!--
	
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
	 
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler, dotless.Core"/>
    <section name="ApiConfig" type="System.Configuration.NameValueFileSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>

  <connectionStrings>
    <add name="DefaultConnectionLocalMysql" connectionString="Server=localhost; Port=3306; Database=elite; Uid=root; Pwd=Dr3@ML9v*;persistsecurityinfo=True;" providerName="System.Data.SqlClient"/>
    <!--<add name="DefaultConnectionLocalSqlite" connectionString="REPLACE_ME" providerName="System.Data.SqlClient"/>-->
    <add name="LocalHangfireConnection" connectionString="127.0.0.1"/>
    <add name="ProductionHangfireConnection_dev" connectionString="hangfire-001.hangfire.3deqi9.use2.cache.amazonaws.com" />
  </connectionStrings>
  <appSettings>
    <!--Start of web.Base.Config-->
    <add key="dbVersion" value="1"/>

    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="sha_secret" value="B2E9059E-42DC-46D3-B5BD-1604864BE1AD"/>
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000"/>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>

    <!--<add key="PaymentSpring_PublicKey_Test" value="REPLACE_ME"/>
    <add key="PaymentSpring_PrivateKey_Test" value="REPLACE_ME"/>-->

    <add key="ProductName_Roundtable" value="EliteTools"/>
    <add key="ProductName_Review" value="EliteTools"/>
    <add key="ReviewName_Roundtable" value="Eval"/>
    <add key="ReviewName_Review" value="Eval"/>
    <!--<add key="Mandrill_GoogleAnalyticsDomain" value="REPLACE_ME"/>-->
    <!--<add key="VideoConferenceServer" value="REPLACE_ME"/>-->
    
    <add key="NotesServer" value="https://notes.dlptools.com"/>
    <add key="NotesServer_ApiKey" value="9f3a42f9a3388c2449a2af4556355185b7edaf6cf865672c7f4cd85b92103f62"/>

    <!--Should we minify during debug mode?-->
    <add key="OptimizeBundles" value="False"/>
    <add key="DisableMinification" value="False"/>
    <!--Should we send emails during debug mode?-->
    <add key="SendEmail_Debug" value="True"/>

    <!--<add key="SignalrEndpointPattern" value="signalr-001.3deqi9.0001.use2.cache.amazonaws.com"/>-->
    <add key="SignalrEndpointPattern" value="https://s{0}.dlptools.com/signalr"/>

    <!--End of web.Base.Config-->    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>


    <machineKey decryptionKey="3D336E27B13E2123DBE798A6E3EFA9BCBAAF19743F1F3E91" validationKey="A9B614101112928B579F470DAC815DDE8161FD37D5CD4B74C3E761DAAE9D70F022E19B18E8F6D540DC25CC783B637F3E1AF563BC91FFC930BA58B56B8E8F8390"/>
    <authentication mode="None"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" executionTimeout="1200" maxQueryStringLength="2097151"/>
    <globalization enableClientBasedCulture="true" culture="auto:en-US" uiCulture="auto:en" requestEncoding="utf-8" responseEncoding="utf-8"/>
    <customErrors mode="Off" defaultRedirect="~/Error/Index">
      <error statusCode="404" redirect="~/Error/NotFound"/>
    </customErrors>
    <sessionState timeout="130"/>
    <!--<httpCookies httpOnlyCookies="true" requireSSL="true" />-->
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule"/>
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" maxUrl="20480" maxQueryString="20480"/>
      </requestFiltering>
    </security>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" cacheControlCustom="public"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
      <remove fileExtension=".log"/>
      <mimeMap fileExtension=".log" mimeType="text/plain"/>
    </staticContent>
    <httpErrors existingResponse="PassThrough"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.2.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Deployment" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Client" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.13.0.0" newVersion="6.13.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Core" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.13.0.0" newVersion="6.13.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.1.0" newVersion="2.2.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.0" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.88.0" newVersion="1.0.88.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.11" newVersion="8.0.11"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Optimization.Framework" publicKeyToken="41b74c8b864fd6b1" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.3.1225.0" newVersion="0.3.1225.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <!--Do not upgrade Microsoft.Owin.* must be 3.1.0.0. We've wasted many days on this.-->
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
      </dependentAssembly>
      <!--Do not upgrade Microsoft.Owin.* must be 3.1.0.0. We've wasted many days on this..-->
      
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.Identity.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.2" newVersion="2.2.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000"/>
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Enterprise.AspNetHelper" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <codeBase version="14.0.0.0" href="file:///C:/Program%20Files%20(x86)/Microsoft%20Visual%20Studio%2014.0/Common7/IDE/PrivateAssemblies/Microsoft.VisualStudio.Enterprise.AspNetHelper.DLL"/></dependentAssembly>-->
    </assemblyBinding>
  </runtime>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="\logs\log-file.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="0"/>
      <maximumFileSize value="100MB"/>
      <staticLogFileName value="true"/>
      <!-- Alternatively, roll on date -->
      <!-- <rollingStyle value="Date" /> -->
      <!-- <datePattern value="yyyyMMdd" /> -->
      <param name="ImmediateFlush" value="true"/>
      <!--Performance hit-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <acceptOnMatch value="true"/>
        <levelMin value="DEBUG"/>
        <levelMax value="FATAL"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <header value="[WebServer Started] "/>
        <footer value="[WebServer Exited] "/>
        <conversionPattern value="%property{log4net:HostName} %date [%thread] %-5level %logger [%ndc]                   &lt;%property{auth}&gt; - %message%newline"/>
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <param name="LogName" value="Application" />
      <param name="ApplicationName" value="AppTractionTools" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] [awsenv_%property{awsenv}] [%property{instanceid}] %-5level %logger                          [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="INFO"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="RollingFileAppender"/>
      <appender-ref ref="EventLogAppender"/>
    </root>
    <logger name="ConsoleApp.LoggingExample">
      <level value="ERROR"/>
      <appender-ref ref="EventLogAppender"/>
    </logger>
    <logger name="NHibernate">
      <level value="ERROR"/>
    </logger>
    <logger name="NHibernate.SQL">
      <level value="ERROR"/>
    </logger>
  </log4net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>